<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MongoDBWS</display-name>

	<servlet>
		<servlet-name>MongoDB</servlet-name>
		<servlet-class>com.mongodb.ws.MongoDB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MongoDB</servlet-name>
		<url-pattern>/mongodb</url-pattern>
	</servlet-mapping>

	<!-- Custommer Service -->

	<servlet>
		<servlet-name>Log Custommers</servlet-name>
		<servlet-class>com.connecting.ws.custommer.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Log Custommers</servlet-name>
		<url-pattern>/custommer/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Choice Driver</servlet-name>
		<servlet-class>com.connecting.ws.custommer.ChoiceDriver</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Choice Driver</servlet-name>
		<url-pattern>/custommer/choice</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Denied Driver</servlet-name>
		<servlet-class>com.connecting.ws.custommer.DeniedDriver</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Denied Driver</servlet-name>
		<url-pattern>/custommer/denied</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>com.connecting.ws.custommer.Add</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ChangePass</servlet-name>
		<servlet-class>com.mongodb.ws.psswd.CPass</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChangePass</servlet-name>
		<url-pattern>/cpsswd</url-pattern>
	</servlet-mapping>

	<!-- Driver Service -->

	<servlet>
		<servlet-name>DriversWait</servlet-name>
		<servlet-class>com.connecting.ws.driver.Wait</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DriversWait</servlet-name>
		<url-pattern>/driver/wait</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DriversBusy</servlet-name>
		<servlet-class>com.connecting.ws.driver.Busy</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DriversBusy</servlet-name>
		<url-pattern>/driver/busy</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegDriver</servlet-name>
		<servlet-class>com.connecting.ws.driver.RegDriver</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegDriver</servlet-name>
		<url-pattern>/driver/reg</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogDriver</servlet-name>
		<servlet-class>com.connecting.ws.driver.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogDriver</servlet-name>
		<url-pattern>/driver/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GCMID Driver</servlet-name>
		<servlet-class>com.connecting.ws.driver.GCMID</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GCMID Driver</servlet-name>
		<url-pattern>/driver/gcmid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RecvTrans Driver</servlet-name>
		<servlet-class>com.connecting.ws.driver.RecvTrans</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RecvTrans Driver</servlet-name>
		<url-pattern>/driver/recvtrans</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>